<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-6 overflow-hidden dark">
        <div class="z-10 relative flex flex-col items-center">
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Wallet
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                <div class="text-2xl font-semibold leading-tight">Wallet</div>
                <div class="z-10 relative flex flex-col items-center">
                    <ng-lottie width="300px" height="250px" [options]="pos"
                        (animationCreated)="animationCreated($event)"></ng-lottie>
                </div>
                <div class="my-8 space-y-8">
                    <div class="flex flex-col text-justify">
                        <p>
                            Blockcore Wallet is a Blockcore, Senior Coin and Royal Coin Non-Custodial HD wallet in your
                            browser for Coins, Tokens, Identities (DID), NFTs and more.
                        </p>

                    </div>
                </div>

            </div>
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 w-full min-w-0 mb-8 mt-8">
                <ng-container>
                    <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">

                        <div class="flex flex-col flex-auto w-full p-8 text-center">
                            <div
                                class="mt-1 text-3xl sm:text-5xl font-extrabold tracking-tight leading-tight text-center text-primary">
                                Chrome Web Store
                            </div>
                            <div class="text-secondary">extension</div>
                        </div>
                        <div class="flex items-center w-full border-t divide-x">
                            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                [href]="'https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj'">
                                <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:download'">
                                </mat-icon>
                                <span class="ml-2">download</span>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">

                        <div class="flex flex-col flex-auto w-full p-8 text-center">
                            <div
                                class="mt-1 text-3xl sm:text-5xl font-extrabold tracking-tight leading-tight text-center text-primary">
                                Website
                            </div>
                            <div class="text-secondary">pwa application</div>
                        </div>
                        <div class="flex items-center w-full border-t divide-x">
                            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                [href]="'https://wallet.seniorblockchain.io'">
                                <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:globe-alt'">
                                </mat-icon>
                                <span class="ml-2">Go to Wallet</span>
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                <div class="text-2xl font-semibold leading-tight">Hub</div>
                <div class="my-8 space-y-8">
                    <div class="flex flex-col text-justify">
                        <p>
                            The Blockcore Hub is a unified app that has all the normal wallet features you'd expect and
                            more. It runs a full node on your local computer, downloading and processing all blockchain
                            data.
                        </p>

                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6 w-full min-w-0 mt-8">
                <ng-container>
                    <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex flex-col flex-auto w-full p-8 text-center">
                            <div
                                class="mt-1 text-3xl sm:text-5xl font-extrabold tracking-tight leading-tight text-center text-primary">
                                Windows
                            </div>
                            <div class="text-secondary">64bit</div>
                        </div>
                        <div class="flex items-center w-full border-t divide-x">
                            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                [href]="'https://github.com/seniorblockchain/blockcore-hub/releases'">
                                <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:download'">
                                </mat-icon>
                                <span class="ml-2">download</span>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex flex-col flex-auto w-full p-8 text-center">
                            <div
                                class="mt-1 text-3xl sm:text-5xl font-extrabold tracking-tight leading-tight text-center text-primary">
                                Mac
                            </div>
                            <div class="text-secondary">dmg file</div>
                        </div>
                        <div class="flex items-center w-full border-t divide-x">
                            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                [href]="'https://github.com/seniorblockchain/blockcore-hub/releases'">
                                <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:download'">
                                </mat-icon>
                                <span class="ml-2">download</span>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">

                        <div class="flex flex-col flex-auto w-full p-8 text-center">
                            <div
                                class="mt-1 text-3xl sm:text-5xl font-extrabold tracking-tight leading-tight text-center text-primary">
                                Linux
                            </div>
                            <div class="text-secondary">64bit - 32bit</div>
                        </div>
                        <div class="flex items-center w-full border-t divide-x">
                            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                [href]="'https://github.com/seniorblockchain/blockcore-hub/releases'">
                                <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:download'">
                                </mat-icon>
                                <span class="ml-2">download</span>
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>


        </div>

    </div>

</div>
