<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <div class="flex flex-col flex-auto min-w-0">

        <!-- Header -->
        <div
            class="relative pt-8 pb-28 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden bg-gray-800 dark:bg-gray-900 dark">
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
                preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
            <div class="z-10 relative flex flex-col items-center">
                <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                    welcome to Senior Blockchain
                </div>
                <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary w-full max-w-sm md:max-w-4xl">
                    Powered by Blockcore
                </div>

                <ng-lottie width="500px" height="300px" [options]="options"
                    (animationCreated)="animationCreated($event)"></ng-lottie>

            </div>
        </div>

        <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">
            <!-- Senior Blockchain -->
            <div
                class="grid grid-cols-1 md:grid-cols-3 gap-y-8 md:gap-y-0 md:gap-x-6 w-full max-w-sm md:max-w-4xl -mt-16 sm:-mt-24">
                <!-- White Paper card -->
                <div
                    class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                    <div class="flex flex-col flex-auto items-center p-8 text-center">
                        <div class="text-2xl font-semibold">White Paper</div>
                        <div class="md:max-w-40 mt-1 text-secondary">Senior Blockchain White Paper</div>
                    </div>
                    <div
                        class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                        <a class="flex items-center" [routerLink]="['/whitepaper']">
                            <span class="absolute inset-0"></span>
                            <span class="font-medium">Go to White Paper</span>
                            <mat-icon class="ml-2 icon-size-5 text-current"
                                [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                        </a>
                    </div>
                </div>
                <!-- Wallet card -->
                <div
                    class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                    <div class="flex flex-col flex-auto items-center p-8 text-center">
                        <div class="text-2xl font-semibold">Wallet</div>
                        <div class="md:max-w-40 mt-1 text-secondary">The Blockcore Wallet is a full featured wallet that
                            goes beyond most wallet software</div>
                    </div>
                    <div
                        class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                        <a class="flex items-center" [routerLink]="['/wallet']">
                            <span class="absolute inset-0"></span>
                            <span class="font-medium">Download Wallet</span>
                            <mat-icon class="ml-2 icon-size-5 text-current"
                                [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                        </a>
                    </div>
                </div>
                <!-- Explorer card -->
                <div
                    class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                    <div class="flex flex-col flex-auto items-center p-8 text-center">
                        <div class="text-2xl font-semibold">Explorer</div>
                        <div class="md:max-w-40 mt-1 text-secondary">Cross-Chain Multi-Chain Block Explorer </div>
                    </div>
                    <div
                        class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                        <a class="flex items-center" href="https://explorer.seniorblockchain.io/#/sbc/explorer"
                            target="_blank">
                            <span class="absolute inset-0"></span>
                            <span class="font-medium">Go to Explorer</span>
                            <mat-icon class="ml-2 icon-size-5 text-current"
                                [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <sbchain-card class="flex flex-col mt-8 md:flex-row w-full max-w-sm md:max-w-4xl">

                <div class="flex flex-col flex-auto m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">
                        What is the Senior Blockchain?
                    </div>
                    <div class="mt-4 text-justify leading-loose">

                        <div class="z-10 relative flex flex-col items-center">
                            <ng-lottie width="400px" height="300px" [options]="space"
                                (animationCreated)="animationCreated($event)"></ng-lottie>
                        </div>

                        <p class="mt-2">
                            Senior Blockchain is a powerful and flexible blockchain Development Platform designed for the needs of real-world financial services businesses and other organisations that want to develop, test and deploy applications on the blockchain And raise capital for their projects or build their projects in metaverse. Senior Blockchain significantly simplifies the development process for creating Blockchain applications and accelerates the development lifecycle for blockchain development projects. Senior Blockchain private chains allow businesses to deploy their own customised blockchains without the overheads inherent in running their own blockchain network infrastructure. Senior Blockchain’s turnkey solution enables developers and businesses to create, test and deploy blockchain-based applications quickly and easily, all without the costs and security concerns that would otherwise arise from an in-house implementation. 
                        </p>

                    </div>
                </div>
            </sbchain-card>


            <sbchain-card class="flex flex-col mt-8 md:flex-row w-full max-w-sm md:max-w-4xl">

                <div class="flex flex-col flex-auto m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">
                        What Is a Blockchain?
                    </div>
                    <div class="mt-4 text-justify leading-loose">

                        <p class="indent-8">A blockchain is a distributed database that is shared among the nodes of a
                            computer network.
                            As a database, a blockchain stores information electronically in digital format. Blockchains
                            are best known for their crucial role in cryptocurrency systems, such as Bitcoin, for
                            maintaining a secure and decentralized record of transactions. The innovation with a
                            blockchain is that it guarantees the fidelity and security of a record of data and generates
                            trust without the need for a trusted third party. </p>

                        <div class="z-10 relative flex flex-col items-center">
                            <ng-lottie width="300px" height="200px" [options]="_2block"
                                (animationCreated)="animationCreated($event)"></ng-lottie>
                        </div>

                        <p class="indent-8 mt-2"> One key difference between a typical database and a blockchain is how
                            the data is
                            structured. A blockchain collects information together in groups, known as blocks, that hold
                            sets of information. Blocks have certain storage capacities and, when filled, are closed and
                            linked to the previously filled block, forming a chain of data known as the blockchain. All
                            new information that follows that freshly added block is compiled into a newly formed block
                            that will then also be added to the chain once filled.</p>

                        <div class="z-10 relative flex flex-col items-center">
                            <ng-lottie width="300px" height="200px" [options]="blockchain"
                                (animationCreated)="animationCreated($event)"></ng-lottie>
                        </div>

                        <p class="indent-8 mt-2">
                            A database usually structures its data into tables, whereas a blockchain, like its name
                            implies, structures its data into chunks (blocks) that are strung together. This data
                            structure inherently makes an irreversible time line of data when implemented in a
                            decentralized nature. When a block is filled, it is set in stone and becomes a part of this
                            time line. Each block in the chain is given an exact time stamp when it is added to the
                            chain.</p>

                        <div class="z-10 relative flex flex-col items-center">
                            <ng-lottie width="300px" height="200px" [options]="database"
                                (animationCreated)="animationCreated($event)"></ng-lottie>
                        </div>
                    </div>
                </div>
            </sbchain-card>


            <sbchain-card class="flex flex-col mt-8 md:flex-row w-full max-w-sm md:max-w-4xl">

                <div class="flex flex-col flex-auto m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">
                        The next step
                    </div>
                    <div class="mt-4 text-justify leading-loose">


                        <div class="z-10 relative flex flex-col items-center">
                            <ng-lottie width="400px" height="300px" [options]="work"
                                (animationCreated)="animationCreated($event)"></ng-lottie>
                        </div>

                        <p class="mt-2">Our mission is to expand the usage and availability of services built
                            using blockchain technology, and to apply those services to the needs of real world
                            financial services and businesses. We want to make blockchain technology available for
                            everyone to use. And to do just that we are building the Senior blockchain and the Smart
                            business Platform.</p>



                    </div>
                </div>
            </sbchain-card>


            <!-- FAQs -->
            <div class="mt-24 text-3xl sm:text-5xl font-extrabold leading-tight tracking-tight text-center">Most
                frequently asked questions</div>
            <div class="mt-2 text-xl text-center text-secondary">Here are the most frequently asked questions you
                may check before getting started</div>
            <mat-accordion class="max-w-4xl mt-12">
                <ng-container *ngFor="let faq of faqCategory.faqs; trackBy: trackByFn">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title>{{faq.question}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        {{faq.answer}}
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </div>
    </div>
</div>
