<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-6 overflow-hiddendark">

        <div class="z-10 relative flex flex-col items-center">
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Frequently Asked Questions
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">

         <!-- FAQs -->
        <div class="mt-8 text-xl text-center text-secondary">Here are the most frequently asked questions you
            may check before getting started</div>
        <mat-accordion class="max-w-4xl mt-12">
            <ng-container *ngFor="let faq of faqCategory.faqs; trackBy: trackByFn">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>{{faq.question}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    {{faq.answer}}
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>

</div>
